
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<head>
    <title>index</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
<div class="firstpage">
    <h1>Добро пожаловать в LibraryApp</h1>
    <br>
    <p>Если вы запускаете это приложение в первый раз, то пожалуйста нажмите на ссылку "Создать БД", для создания базы с тестовыми данными!</p>
    <p>Если база была уже создана, то, пожалуйста, перейдите по ссылке "Продолжить" для перехода на стартовую страницу сайта.</p>
    <p>Для того чтобы зайти под администратором, воспользуйтесь Login: <b>Admin</b> Password: <b>Admin</b></p>
    <p>Чтобы зайти под обычным пользователь, используйте Login: <b>User</b> Password: <b>User</b>, либо зарегистрируйтесь самостоятельно</p>
    <h3>Enjot with LibraryApp!</h3>
    <br>

    <a class="btn btn-danger" href="/home/create">Создать БД</a>
    <a class="btn btn-success" href="/home/startpage">Продолжить</a>
</div>
    </body>


