@{
	ViewBag.Title = "StartPage";
}

<h1 class="text-center">Вас приветствует электронная библиотека LibraryApp!</h1>
<hr />

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p class="lead">Здесь вы можете найти и скачать абсолютно любую книгу! Вас ждут как нестареющая классика, так и самые смелые произведения современных авторов!</p>
		<p class="lead">Все мы знаем, что лучший подарок - это книга. Так сделайте же подарок себе любимому!
		<p class="lead">Для того, чтобы скачать понравившиесе вам произведение, необходимо пройти несложную процедуру регистрации.</p>
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-md-5 col-md-offset-2">
		<blockquote class="blockquote-reverse">
			<p>Читая в первый раз хорошую книгу, мы испытываем то же чувство, как при приобретении нового друга. Вновь прочитать уже читанную книгу — значит вновь увидеть старого друга.</p>
			<footer><cite title="Вольтер">Вольтер</cite></footer>
		</blockquote>
	</div>
	<div class="col-md-3">
		<img src="~/Content/Image/Volter.jpg" alt="Volter" style="display: block; width: 100%;" />
	</div>
</div>


